h1{
    text-align: center;
    clear: both;
}
h3, h2{
    text-align: center;
    font-weight: 700;
}
body{
    
    background-size: contain;
    padding: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*underline all H1 headers please*/